@model GloboDiet.ViewModels.InterviewCreateEdit

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Interview.Meals.First().StartingHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interview.Meals.First().TypeOfMealId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interview.Meals.First().PlaceOfMealId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model?.ListOfMeals is not null) {
        @foreach (var item in Model.ListOfMeals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartingHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfMealId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfMealId)
            </td>
            <td>
                <a asp-action="#" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="#" asp-route-id="@item.Id">Details</a> |
                <a asp-action="#" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    }
    </tbody>
</table>
