@model GloboDiet.ViewModels.InterviewsList

<h1>ListInterview</h1>
<div class="container">
    <h2>Form control: inline checkbox</h2>
    <input class="checkbox-inline warn" type="checkbox" />
    <p>The form below contains three inline checkboxes:</p>
    <form>
        <label class="checkbox-inline warn">
            <input type="checkbox" value="">Option 1
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="">Option 2
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="">Option 3
        </label>
    </form>
</div>



<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Interviews.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviews.First().Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviews.First().Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviews.First().ReferenceDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (@Model.Interviews is not null && @Model.Interviews.Any())
    {
        @foreach (var item in Model.Interviews)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceDate)
            </td>
            <td>
                <a asp-action="Interview1Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Interview1Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Interview1Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    }
    </tbody>
</table>
