@model GloboDiet.ViewModels.InterviewersList


<h1>List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Interviewers.First().Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviewers.First().GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviewers.First().Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Interviewers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="InterviewerEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="InterviewerDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="InterviewerDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
