@model GloboDiet.ViewModels.LocationsList

<h1>ListLocation</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Locations.First().City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locations.First().Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Locations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="LocationEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="LocationDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="LocationDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
