@model GloboDiet.ViewModels.RecipesList

<h1>Recipes</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipes.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes.First().Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="RecipeEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="RecipeDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="RecipeDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>