@model GloboDiet.ViewModels.RespondentsList


<h1>ListRespondent</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Respondents.First().Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respondents.First().GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respondents.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respondents.First().Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respondents.First().Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respondents.First().DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respondents.First().Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respondents.First().Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Respondents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <a asp-action="ResponentEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="ResponentDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="ResponentDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
